<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <ul>
            <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
            <li><%= error.message %></li>
            <% }) %> <% } %>
          </ul>
      
          <ul>
            <% if(messages.success_msg) { %>
            <li><%= messages.success_msg %></li>
            <% } %>
          </ul>
      
          <ul>
            <% if (messages.error) { %>
            <li><%= messages.error %></li>
            <% } %>
          </ul>
        <form method="POST" action="/login">
          <label for="email">Email:</label>
          <input type="text" id="email" name="email" required>
          
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
          
          <input type="submit" value="Login">
        </form>
        <p>Don't have an account? <a href="/signup">Sign up</a></p>
      <p>Forgot your password? <a href="/request-resetPd">Reset password</a></p>
      </div>
</body>
</html>